@model ED2OR.ViewModels.ExportsCheckbox
@*<span style="display:block;">*@
    @Html.CheckBoxFor(x => x.Selected, new { data_schoolid = Model.SchoolId })
    @Html.LabelFor(x => x.Selected, Model.Text)
    @Html.HiddenFor(x => x.Text)
    @Html.HiddenFor(x => x.Id)
<br />
@*</span>*@