@{
    ViewBag.Title = "Initial Setup";
}

<h3>@ViewBag.Title</h3>
@*@using (Html.BeginForm(actionName: "InitialDatabaseSetup", controllerName: "InitialDatabaseSetup", method: FormMethod.Post))
{
    <label>Prior to use the application you need to setup database information</label>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
}*@